.profile-img {
    padding-top: 10px;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
}

.cards-row {
    padding-bottom: 10px;
    margin: 7px 0;
    height: 370px
}

.card-details {
    height: 100%
}

.card-details-text {
    color: black
}