
<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset="utf-8">
		<title style = "text-align:center;"></title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src = "color.js"></script>
	</head>	
	<body background="dinner.png" >
		<p> What times can you meet?</p>
	</body>
	<section>
	<table style="width:60%" align="center">
		<tr>
			<th>Sunday</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
		</tr>
		<tr>
			<td>
					<button id = "btn1">10:00 am</button>
					<button id = "btn2">11:00 am</button>
					<button id = "btn3">12:00 pm</button>
					<button id = "btn4">1:00 pm</button>
					<button id = "btn5">2:00 pm</button>
					<button id = "btn6">3:00 pm</button>
					<button id = "btn7">4:00 pm</button>
			</td>
			<td>
					<button id = "btn8">10:00 am</button>
					<button id = "btn9">11:00 am</button>
					<button id = "btn10">12:00 pm</button>
					<button id = "btn11">1:00 pm</button>
					<button id = "btn12">2:00 pm</button>
					<button id = "btn13">3:00 pm</button>
					<button id = "btn14">4:00 pm</button>
			</td>
			<td>
					<button id = "btn15">10:00 am</button>
					<button id = "btn16">11:00 am</button>
					<button id = "btn17">12:00 pm</button>
					<button id = "btn18">1:00 pm</button>
					<button id = "btn19">2:00 pm</button>
					<button id = "btn20">3:00 pm</button>
					<button id = "btn21">4:00 pm</button>
			</td>
			<td>
					<button id = "btn22">10:00 am</button>
					<button id = "btn23">11:00 am</button>
					<button id = "btn24">12:00 pm</button>
					<button id = "btn25">1:00 pm</button>
					<button id = "btn26">2:00 pm</button>
					<button id = "btn27">3:00 pm</button>
					<button id = "btn28">4:00 pm</button>
			</td>
			<td>
					<button id = "btn29">10:00 am</button>
					<button id = "btn30">11:00 am</button>
					<button id = "btn31">12:00 pm</button>
					<button id = "btn32">1:00 pm</button>
					<button id = "btn33">2:00 pm</button>
					<button id = "btn34">3:00 pm</button>
					<button id = "btn35">4:00 pm</button>
			</td>
			<td>
					<button id = "btn36">10:00 am</button>
					<button id = "btn30">11:00 am</button>
					<button id = "btn37">12:00 pm</button>
					<button id = "btn38">1:00 pm</button>
					<button id = "btn39">2:00 pm</button>
					<button id = "btn40">3:00 pm</button>
					<button id = "btn41">4:00 pm</button>
			</td>
			<td>
					<button>10:00 am</button>
					<button id = "btn30">11:00 am</button>
					<button id = "btn42">12:00 pm</button>
					<button id = "btn43">1:00 pm</button>
					<button id = "btn44">2:00 pm</button>
					<button id = "btn45">3:00 pm</button>
					<button id = "btn46">4:00 pm</button>

					<script>
					$("button").click(function() {
						// Set to data base
						  $(this).slideUp();
						});
					</script>
			</td>
		</tr>
	</table>
	</section>
	<button id = "sub" type="submit">Submit</button>
	<button id = "restart" .click(>Reset</button>
	<script type="text/javascript">
		function myFunction() {
			console.log("okkkkk")
			<a href="javascript:location.reload(true)">Refresh Page</a>
             // setTimeout("location.reload(true);", t);	</script>
</html>