<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/b.css">
</head>
<body background="../static/images/collegecookie.jpg">

<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h2 class="display-4">College Cookies</h2>
                <p class="lead">Try to contact them by clicking phone button</p>
                <hr class="my-4">
                <p>Hi {{user}}, College Cookies find people who have similar
                    lunch
                    schedule!</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-success" role="alert">
            We found<strong> {{matching | length}}</strong> people who have
                similar lunch schedule <strong>today</strong>!!
            </div>
        </div>
    </div>
    {% for m in matching%}
    <div class="row cards-row">
        <div class="col-3">
            <div class="card">
                <img class="card-img-top profile-img" src="{{m.profile}}"
                     align="middle">
                <div class="card-block card-details">
                    <h5 class="card-text" align="center">{{m.name}}</h5>
                    <strong>bio</strong>
                    <p>{{m.bio}}</p>
                    <a href="#" class="btn btn-primary">Text
                        Message</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-details">
                <div class="card-block">
                    <h4 class="card-details-text">
                        {{m.name}}
                    </h4>
                    <p class="card-details-text">
                        {{m.school_name}}
                    </p>
                    <p class="card-details-text">
                        Usually start lunch today at {{m.time}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>