<!DOCTYPE html>
<html>
<title>Lunch Buddy</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
 <link rel="stylesheet" type="text/css" href="profilepage.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px;background-color: #e3f2fd;" id="mySidebar" >
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Close Menu</a>
  <a href="#food" onclick="w3_close()" class="w3-bar-item w3-button">Buddies Availible</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">Past Lunch BUddies</a>
   <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">Settings</a>
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto;">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
    <!-- <div class="w3-right w3-padding-16">Follow us: twitter facebook instagram</div> -->
    <div class="w3-center w3-padding-16" style="background-color:#FFEBA8;">Lunch Buddies Availible</div>
  </div>
</div>
  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
	  {% for m in matching%}
    <div class="w3-quarter" style="border: 1px black solid;">
      <h3>{{ m.name}}</h3>
		<img src="{{m.profile}}" alt="" >
      <p>{{ m.school_name}}</p>
		<p>{{m.phone_number}}</p>
		<p>{{m.time}}</p>
	</div>
	{% endfor %}

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
  </div>
  
  <hr id="about">

  <!-- Ordering Food Section -->
  <div class="w3-container w3-padding-32 w3-center">  
    <h3>Hungry? Get food delivered to you.</h3><br>
    <img src="/w3images/chef.jpg"  class="w3-image" style="display:block;margin:auto" width="800" height="533">
    <div class="w3-padding-32">

      <a href = "https://www.ubereats.com/" ><img src="images/ubereats.png" style="width:15%" class="w3-hover-opacity"> </a> &nbsp; &nbsp; &nbsp;
      <a href = "https://postmates.com/" ><img src="images/postmates.png" style="width:15%" class="w3-hover-opacity"> </a>  &nbsp; &nbsp; &nbsp;

      <a href = "https://www.grubhub.com" ><img src="images/grubhub.png" style="width:15%" class="w3-hover-opacity"> </a>
      <p> 
      Use our promo for 20% off!  <b> PROMOCODE: LUNCHBUD</b></p>
    </div>
  </div>
  <hr>
  l
  <!-- Footer -->
  <footer class="w3-row-padding w3-padding-32">
  
  
 <div class="w3-third" > 
      <h3> Follow us!</h3> 
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Lorem</span><br>
          <span>Facebook</span>
        </li>
        <li class="w3-padding-16">
          <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Ipsum</span><br>
          <span>Twitter</span>
        </li> 
      </ul> 
    </div>

<div class="w3-third" >
<h3> 

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="wrapper">
  <ul>
    <li class="facebook"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></li>
    <li class="twitter"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></li>
    <li class="instagram"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></li>
  
  </ul>
</div>

</h3>
</div>

<div class="w3-third" >

</div>
    
  </footer>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}





</script>

</body>
</html>