
<!DOCTYPE html>
<html lang = "en">
	<head>
		<title style = "text-align:center;"></title>
		<link rel="stylesheet" type="text/css" href="style.css">
	<head>	
	<nav>
		<p> LUNCH BUDDY</p>
		<body style="background-color:powderblue;">
	</nav>
	<section>
		<info style = "text-align: center;"> User Info</info>
		<opt> Potential Friends</opt>
		<calendar> Calendar</calendar>
	</section>
	<section>
	<table style="width:30%">
		<tr>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>Times</th>
		</tr>
		<tr>
			<td>John</td>
			<td>Doe</td>
			<td>780</td>
		</tr>
	</table>
	</section>
</html>