<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/a.css">
<script src="../static/a.js"></script>
<script src="../static/jquery-3.2.1.min.js"></script>

</head>
<body>
<center>Lunch Buddy</center>
<div class="login-page">
	<div class="form">
		<form class="login-form" action="/signup" method="post">
			<input type="text" class="login-field" placeholder="username" name="username" value=""/>
			<input type="password" class="login-field" placeholder ="password" name="password" value=""/>
            <input type="password" class="login-field" placeholder
                    ="re-enter password"
                   name="password_validation" value=""/>
            <input type="text" class="login-field" placeholder="UIC"
                   name="school_name" value=""/>
			<input type="text" class="login-field" placeholder
					="phone number  ex) 2247300978" name="phone_number"
				   value=""/>

			<button type="submit"> signup </button>
	    </form>
    </div>
</div>
</body>
</html>

</div>
</body>
</html>